{% extends "common/base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block title %} Sign Up {% endblock %}

<!-- // empty navbar  -->
{% block navbar %}
{% endblock %}

<!-- // empty sidebar  -->
{% block sidebar %}
{% endblock %}

<!--
    page code must be start in block content
    inside block content
-->
{% block content %}
<!-- Wizard with validation -->
    <form id="form_registration" method="POST" class="stepy-validation" action="{% url 'candidate:sign_up' %}">
        {% csrf_token %}

        <input type="hidden" name="user_type" id="id_user_type" value="candidate">

        {{ form.non_field_errors }}

        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
        {% endfor %}

        <fieldset title="1">
            <legend class="text-semibold">Account data</legend>

            <div class="row pt-15 pb-15">
                <div class="col-md-6">
                    <label>User name<span class="text-danger">*</span></label>
                    {% render_field form.username|attr:"required:required" class+="form-control" placeholder="Please enter username" %}
                    {{ form.username.errors }}
                </div>

                <div class="col-md-6">
                    <label>Email<span class="text-danger">*</span></label>
                    {% render_field form.email|attr:"required:required" class+="form-control" placeholder="Please enter email" %}
                    {{ form.email.errors }}
                </div>
            </div>

            <div class="row pt-15 pb-15">
                <div class="col-md-6">
                    <label>Password<span class="text-danger">*</span></label>
                    {% render_field form.password1|attr:"required:required" class+="form-control" %}
                    {{ form.password1.errors }}
                </div>

                <div class="col-md-6">
                    <label>Confirm Password<span class="text-danger">*</span></label>
                    {% render_field form.password2|attr:"required:required" class+="form-control" %}
                    {{ form.password2.errors }}
                </div>
            </div>

        </fieldset>

        <fieldset title="2">
            <legend class="text-semibold">Personal Details</legend>
            
            <div class="row pt-15 pb-15">
                <div class="col-md-6">
                    <label>First name</label>
                    {% render_field form.first_name class+="form-control" placeholder="Please enter first name" %}
                </div>

                <div class="col-md-6">
                    <label>Last name</label>
                    {% render_field form.last_name class+="form-control" placeholder="Please enter last name" %}
                </div>
            </div>
            
            <div class="row pt-15 pb-15">
                <div class="col-md-6">
                    <label>Phone</label>
                    {% render_field form.phone class+="form-control" placeholder="Please enter phone number" %}
                </div>
            </div>

        </fieldset>

        <fieldset title="3">
            <legend class="text-semibold">Photos</legend>
            
            <div class="row pt-15 pb-15">
                <div class="col-md-12">
                    <div id="photo-gallery">
                        {% for temp_image in temp_images %}
                        <a data-fancybox="gallery" href="{{ temp_image.img.url }}">
                            <img class="img-thumbnail" src="{{ temp_image.img.url }}">
                        </a>
                        {% endfor %}

                    </div>
                </div>

                <div class="col-lg-12 mt-20">
                    <p class="mb-10">Capture via webcam</p>
                    <button 
                        id="add_training_image"
                        type="button"
                        class="btn btn-primary heading-btn legitRipple popup-capture-image_open">
                        Capture via webcam<span class="legitRipple-ripple">
                        </span>
                    </button>
                </div>
            </div>
        </fieldset>

        <button type="submit" class="btn btn-success stepy-finish" id="btnSubmit" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing">Submit</button>
    </form>

    <p class="text-center mt-20">Already have account. Please <a href="/accounts/login/">click here</a> to login</p>

<section id="popup-capture-image">
  <div class="contentarea">
    <div class="row">
        <div class="col-md-12" id="container-camera">
            <div id="camera">
            </div>
            <button id="btn-capture">Take photo</button>
        </div>

        <div class="col-md-12 hidden" id="container-result">
            <img id="result-snapshot"></img>
            <div class="container-btn">
                <button id="btn-upload" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Uploading ..">Upload photo</button>
                <button id="btn-cancel">Take Another photo</button>
            </div>
        </div>
    </div>
  </div>
</section>

<!-- /wizard with validation -->
{% endblock %}


<!-- ============================ -->
<!--        page level scripts    -->
<!-- =========================== -->
{% block page_level_scripts %}
<script>
    $(function () {
        /*change li active*/
        /*add active class to li*/
        $("#campaign").addClass("active");
        $("#campaign-create").addClass("active");
    });

    var url_save_captured_sign_up_photo = "{% url 'candidate:save_captured_sign_up_photo' %}";
</script>

<link href="{% static 'candidate/css/sign_up.css' %}?v=1.0" type="text/css" rel="stylesheet">

<!-- form -->
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/wizards/stepy.min.js' %}?v=1.0"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/select2.min.js' %}?v=1.0"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/styling/uniform.min.js' %}?v=1.0"></script>
<script type="text/javascript" src="{% static 'assets/js/core/libraries/jasny_bootstrap.min.js' %}?v=1.0"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/validation/validate.min.js' %}?v=1.0"></script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- A jQuery plugin that adds cross-browser mouse wheel support. (Optional) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>

<script type="text/javascript" src="{% static 'candidate/js/signup.js' %}?v=1.0"></script>

<style>
.img-thumbnail {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 250px; /* Set a small width */
}
</style>

<!--- popup overlay -->
<script src="{% static 'assets/js/plugins/popupoverlay/jquery.popupoverlay.min.js' %}?v=1.5"></script>

<!-- Webcam.min.js -->
<script src="{% static 'assets/js/plugins/webcam/webcam.js' %}?v=1.0"></script>

<script type="text/javascript" src="{% static 'candidate/js/signup_capture_photo.js' %}?v=1.5"></script>

<!-- fancybox -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js" integrity="sha256-yt2kYMy0w8AbtF89WXb2P1rfjcP/HTHLT7097U8Y5b8=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" integrity="sha256-Vzbj7sDDS/woiFS3uNKo8eIuni59rjyNGtXfstRzStA=" crossorigin="anonymous" />
 
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function() {

    var close_btn_markup = `<button class="popup_close" title="Close"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 10.6L6.6 5.2 5.2 6.6l5.4 5.4-5.4 5.4 1.4 1.4 5.4-5.4 5.4 5.4 1.4-1.4-5.4-5.4 5.4-5.4-1.4-1.4-5.4 5.4z"></path></svg></button>`

    $('#popup-capture-image').popup({
      color: 'white',
      opacity: 1,
      transition: '0.3s',
      // blur:false prevents closing on click outside the popup.
      blur: false,
      closebutton: true,
      closebuttonmarkup: close_btn_markup
    });

    $(document).on("click", "#btnSubmit", function(){
        console.log("#btnSubmit click event triggered.")
        var $this = $(this);
        $this.button('loading'); // show processing icon on submit
        /*
        setTimeout(function() {
            $this.button('reset');
        }, 50000);
        */
    });

    /** btn photo upload */
    $(document).on("click", "#btn-upload", function(){
        console.log("#btn-upload click event triggered.")
        var $this = $(this);
        $this.button('loading'); // show processing icon on submit
    })

  });

</script>

{% endblock %}
<!--       page level scripts    -->
<!-- /=========================== -->
