{% extends "common/base.html" %}

{% load static %}

<!-- custom template tags -->
{% load custom_extra_tags %}

{% block title %} Exam {% endblock %}

{% block navbar %}{% endblock %}
{% block sidebar %}{% endblock %}

<!--
    page code must be start in block content
    inside block content
-->
{% block content %}
<div class="row">

    <div class="hidden_Camera" style="display:none;">
        <div id="camera">
        </div>
    </div>

    <!-- exam-->
    <div class="col-md-12" id="exam">
        <div class="panel panel-flat">
            <div class="panel-heading p-10">
                <h6 class="panel-title">{{ candidate.exam.name }}</h6>
            </div>

            <div class="panel-body">

                <div class="row col-eq">
                    <div class="col-md-9">
                        <div class="row pad-lr-30">
                            <div class="col-md-12 col-border-grey mt-20">
                                <div class="col-md-6">
                                    <p>
                                        <span>Candidate ID</span>
                                        <span class="colon">:<span>
                                        <span>{{ candidate.candidate.id }}</span>
                                    </p>
                                    <p>
                                        <span>Candidate Name</span>
                                        <span class="colon">:<span>
                                        <span>{{ candidate.candidate.first_name }}</span>
                                        <span>{{ candidate.candidate.last_name }}</span>
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-3">
                                        <p class="lbl-time-left">
                                            <span>Time Left: </span>
                                        </p>
                                    </div>
                                    <div class="col-md-9">
                                        <div class='timer' data-seconds-left="{{ candidate.exam_remaining_time }}"></div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-12 col-border-grey min-height-370 pad-lr-30">
                                <div id="question" data-id class="question-text pt-20 pb-20">
                                    <span>
                                        <span>Q.</span><span id="question-number"></span><span class="colon">)</span>
                                    <span>
                                    <span id="question-title"></span>
                                </div>
                                <div id="question-options" class="question-options">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" checked="checked">
                                            <span></span>
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">
                                            <span></span>
                                        </label>
                                    </div>

                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="radio-styled-color" class="control-warning">
                                        </label>
                                    </div>

                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="radio-styled-color" class="control-info">
                                        </label>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="row mr-20">
                            <div class="col-md-12 mt-20 col-border-grey">
                                <div id="my_result">
                                    <img id="live-img" src="" width="256" height="192"></img>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-border-grey text-center">
                        <button 
                            id="clear-response"
                            type="button"
                            class="btn btn-warning legitRipple">
                            <i class="icon-pen position-left"></i> 
                            Clear Response
                        </button>
                    </div>                        
                    <div class="col-md-4 col-border-grey text-center">
                        <button 
                            id="save-and-next"
                            type="button"
                            class="btn btn-success legitRipple">
                            <i class="icon-pen position-left"></i> 
                            Save & Next
                        </button>
                    </div>

                    <div class="col-md-4 col-border-grey text-center">
                        <button 
                            id="submit-exam"
                            type="button"
                            class="btn btn-success legitRipple">
                            <i class="icon-pen position-left"></i> 
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /exam-->
</div>
{% endblock %}


<!-- ============================ -->
<!--        page level scripts    -->
<!-- =========================== -->
{% block page_level_scripts %}
<style>
#exam .panel-heading
{
    background: #26323808;
}

#exam .panel-title
{
    color: #333333;
    font-size: 17px;
}

.container-question-numbers .label-rounded
{
    height: 25px;
    width: 25px;
    margin-left: 6px;
}
</style>

<script>
    $(function () {
        /*change li active*/
        /*add active class to li*/
        $("#exam").addClass("active");
    });
</script>

<script type="text/javascript"> 
   var exam_id = parseInt("{{ candidate.exam.id }}");
   var exam_candidate_id = parseInt("{{ candidate.id }}");

    // global variables
    var stop_exam = false;
    var authenticity_status = [];
    var capture_image_time = parseInt("{{ candidate.exam.capture_image_time }}") * 1000; // convert seconds to milliseconds
    // alert(capture_image_time);

    var url_save_recognize_exam_photo = "{% url 'candidate:save_recognize_exam_photo' candidate.exam.id %}";

    var suspicious_show_warning_after = parseInt("{{ candidate.exam.suspicious_show_warning_after }}");
    var suspicious_stop_exam_after = parseInt("{{ candidate.exam.suspicious_stop_exam_after }}");
    var url_stop_exam = "{% url 'candidate:stop_exam' %}";
    var url_stop_exam_reason = "{% url 'candidate:stop_exam_reason' candidate.exam.id %}";
</script>

<link href="{% static 'candidate/list-exam.css' %}?v=1.0" type="text/css" rel="stylesheet">

<!-- form -->
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/styling/uniform.min.js' %}"></script>
<script type="text/javascript">
    $(function () {
        // Custom color
        $("input").uniform({
            radioClass: 'choice',
            wrapperClass: 'border-info-600 text-info-800'
        });
        
    });
</script>

<!-- jQuery Plugin For Responsive Bootstrap Equal Height Columns - ColEqualizer -->
<script type="text/javascript" src="{% static 'candidate/plugin/Bootstrap-Equal-Height-Colums/bootstrap-colequalizer.js' %}"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('.col-eq').colequalizer();
    });
</script>


<!-- Webcam.min.js 
<script src="{% static 'candidate/plugin/webcam/webcam.js' %}?v=2.2"></script>
<script type="text/javascript" src="{% static 'candidate/js/capture_exam_live_photo.js' %}?v=2.0"></script>
-->

<script type="text/javascript" src="{% static 'candidate/js/exam.js' %}?v=2.0"></script>

<script src="{% static 'candidate/plugin/Simple-Timer/jquery.simple.timer.js' %}?v=2.0"></script>
<style>
  .timer div {
      float: left !important;
  }

  .timer, .timer-done, .timer-loop {
    font-size: 22px;
    color: black;
    font-weight: 500;
    padding-left: 0px;
    padding-top: 27px;
  }

  .jst-clearDiv {
    clear: both;
  }
  .jst-timeout {
    color: red;
  }

  .lbl-time-left
  {
    padding-top: 34px;
    font-size: 1.05em;
  }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('.timer').startTimer({
             onComplete: function(element){
                element.addClass('is-complete');

                // $("#submit-exam").trigger("click");
            }
        });
    });
</script>

{% endblock %}
<!--       page level scripts    -->
<!-- /=========================== -->
