{% extends "common/base.html" %}

{% load static %}

{% block title %} Student list {% endblock %}

<!--
    page code must be start in block content
    inside block content
-->
{% block content %}
<div  class="row">
    <!-- exam list -->
    <div class="col-md-12">

        <!-- Collapsible with left control button -->
        <h6 class="content-group text-semibold">
         Analysis
         <small class="display-block"><code>report</code></small></h6>

        <div class="panel-group panel-group-control content-group-lg">
            
            {% if candidate_exam %}
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h6 class="panel-title">
                        <a data-toggle="collapse" href="#collapsible-control-group{{ forloop.counter }}">Exam `{{ candidate_exam.exam.name }}`</a>
                    </h6>
                </div>
                <div id="collapsible-control-group{{ forloop.counter }}" class="panel-collapse collapse in">
                    <div class="panel-body">

                        <div class="tabbable pt-20 pb-20">
                            <ul class="nav nav-tabs nav-tabs-highlight">
                                <li class="active"><a href="#css-animate-tab1" data-toggle="tab">Emotion analysis</a></li>
                                <li><a href="#css-animate-tab2" data-toggle="tab">Behaviour Analysis</a></li>
                                <li><a href="#css-animate-tab3" data-toggle="tab">Exam Result</a></li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane animated fadeInUp active" id="css-animate-tab1">
                                    
                                    <div class="panel panel-flat border-bottom-info mt-20">
                                        <div class="panel-heading">
                                            <h5 class="panel-title">Overall emotions</h5>
                                        </div>
                                        
                                        <div class="panel-body">
                                            <div id="chart_emotion_all"></div>
                                        </div>
                                    </div>                                    <div class="panel panel-flat border-bottom-info mt-20">
                                    
                                    <div class="panel-heading">
                                            <h5 class="panel-title">Overall emotions Bar Graph</h5>
                                        </div>
                                        
                                        <div class="panel-body">
                                            <div id="chart_emotion_all_bar"></div>
                                        </div>
                                    </div>

                                    <div class="panel panel-flat border-top-info border-bottom-info mt-20">
                                        <div class="panel-heading">
                                            <h5 class="panel-title">Emotion timeline</h5>
                                        </div>
                                        
                                        <div class="panel-body">
                                            <div id="chart_emotion_timeline"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane animated fadeInUp" id="css-animate-tab2">

                                    <div class="panel panel-flat border-bottom-info mt-20">
                                        <div class="panel-heading">
                                            <h5 class="panel-title">Answer correctness over emotion</h5>
                                        </div>
                                        
                                        <div class="panel-body">
                                            <div id="chart_answer_correctness"></div>
                                        </div>
                                    </div>

                                    
                                    <div class="panel panel-flat border-top-info border-bottom-info mt-20">
                                        <div class="panel-heading">
                                            <h5 class="panel-title">Average Answer solving speed</h5>
                                        </div>
                                        
                                        <div class="panel-body">
                                            <div id="chart_answer_solving_speed"></div>
                                        </div>
                                    </div>
                                    
                                    <div class="panel panel-flat border-top-info border-bottom-info mt-20">
                                        <div class="panel-heading">
                                            <h5 class="panel-title">Questions overwriting</h5>
                                        </div>
                                        
                                        <div class="panel-body">
                                            <div id="chart_question_overwriting"></div>
                                        </div>
                                    </div>
                                    
                                    <div class="panel panel-flat border-top-info border-bottom-info mt-20">
                                        <div class="panel-heading">
                                            <h5 class="panel-title">Overall Suspicious activity</h5>
                                        </div>
                                        
                                        <div class="panel-body">
                                            <div id="chart_suspicious_activity"></div>
                                        </div>
                                    </div>

                                    <div class="panel panel-flat border-top-info border-bottom-info mt-20">
                                        <div class="panel-heading">
                                            <h5 class="panel-title">Overall</h5>
                                        </div>
                                        
                                        <div class="panel-body">
                                            <div id="conclusion">

                                                {% if is_suspicious %}
                                                    <h3> 
                                                        <span> Activity: </span>
                                                        <span class="text-danger"> Suspicious </span>
                                                    </h3>
                                                    <p> 
                                                        <span> Suspicious Activity Percentage: </span>
                                                        <span> {{ suspicious_per }}% </span>
                                                    </p>
                                                {% else %}
                                                    <h3> 
                                                        <span> Activity: </span>
                                                        <span class="text-success"> Normal </span>
                                                    </h3>
                                                {% endif %}

                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="tab-pane animated fadeInUp" id="css-animate-tab3">

                                    <div class="panel panel-flat border-bottom-info mt-20">
                                        <div class="panel-heading">
                                            <h5 class="panel-title"></h5>
                                        </div>
                                        
                                        <div class="panel-body">
                                            <p>
                                                <span> Total score: </span>
                                                <span>{{ total_score }} </span>
                                            </p>
                                            
                                            <p>
                                                <span> Total Answered: </span>
                                                <span>{{ answered }} </span>
                                            </p>                                            
                                            <p>
                                                <span> Not answered: </span>
                                                <span>{{ not_answered }} </span>
                                            </p>                                            
                                            <p>
                                                <span> Correct Answers: </span>
                                                <span>{{ correct_answers }} </span>
                                            </p>

                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
            {% endif %}  
        </div>
        <!-- /collapsible with left control button -->

    </div>  
    <!--/ exam list-->  

</div>
{% endblock %}


<!-- ============================ -->
<!--        page level scripts    -->
<!-- =========================== -->
{% block page_level_scripts %}
<script>
    $(function () {
        /*change li active*/
        /*add active class to li*/
        $("#analysis").addClass("active");
    });
</script>

<script type="text/javascript" src="{% static 'assets/js/core/libraries/jquery_ui/interactions.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/core/libraries/jquery_ui/touch.min.js' %}"></script>

<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

<style type="text/css" rel="stylesheet">
    #chart_emotion_timeline {
        width: 100%;
        height: 500px;
    }
</style>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>

<style type="text/css" rel="stylesheet">
    #chart_emotion_all, #chart_emotion_all_bar {
        min-width: 310px; 
        max-width: 600px; 
        height: 400px; 
        margin: 0 auto
    }
    #chart_answer_correctness {
        min-width: 310px; 
        height: 400px; 
        margin: 0 auto
    }

    #chart_answer_solving_speed{
        min-width: 310px; 
        height: 400px; 
        margin: 0 auto
    }

    #chart_question_overwriting
    {
        min-width: 310px; 
        height: 400px; 
        margin: 0 auto
    }

    #chart_suspicious_activity
    {
        min-width: 310px; 
        height: 400px; 
        margin: 0 auto       
    }
</style>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        
        var options = {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie',
                renderTo: 'chart_emotion_all', //  div id
            },
            credits: {
                enabled: false
            },
            title: null,
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                    pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                    }
                }
            },
            series: [{
                name: 'Emotion',
                colorByPoint: true,
                data: [{}]
            }],
        }

        // var url =  " url 'superadmin:drill-down-demo' %}?student_id={{student_id}}";

        var url = `/superadmin/emotion/analysis/data/?candidate_id={{ candidate_id }}&exam_id={{exam_id}}`;

        $.getJSON(url,  function(data) {
            console.log(data);
            options.series[0].data = data;  // set as first element
            console.log(options)
            var chart = new Highcharts.Chart(options);
        });
    
    });
</script>


<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
            
        var options = {
            chart: {
                type: 'column',
                renderTo: 'chart_emotion_all_bar', //  div id
                style: {
                    fontFamily: 'Helvetica',
                    fontSize: '15px'
                }
            },
            credits: {
                enabled: false
            },
            title: null,
            subtitle: null,
            xAxis: {
                type: 'category'
            },
            yAxis: {
                min: 0,
                allowDecimals: false,

                labels: {
                    style: {
                        fontSize: '1.02em',
                    }
                },
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            /*
            series: [{
                name: 'Correct',
                data: [4, 2, 2],
                color: '#43a047'

            }, 
            {
                name: 'Wrong',
                data: [2, 3, 1],
                color: '#dc1818cc'
            }],
            */
            series: [{
                name: 'Emotion',
                colorByPoint: true,
                data: [{}]
            }],
        };

        var url = `/superadmin/emotion/analysis/data/?candidate_id={{ candidate_id }}&exam_id={{exam_id}}`;

        $.getJSON(url,  function(data) {
            console.log("emotions overall bar");
            console.log(data);
            // debugger
            /*
            options.series = data.emotions_overtime;
            options.xAxis.categories = data.emotions_list

            console.log(options)
            var chart = new Highcharts.Chart(options);
            */
            console.log(data);
            options.series[0].data = data;  // set as first element
            console.log(options)
            var chart = new Highcharts.Chart(options);
        });
    
    });
</script>


<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        // Themes begin
        am4core.useTheme(am4themes_animated);
        // Themes end

        // Create chart instance
        var chart = am4core.create("chart_emotion_timeline", am4charts.XYChart);

        // Add data
        /*
        chart.data = [{
            "y": "1",
            "x": 1,
            "text": "[bold]2018 Q1[/]\nThere seems to be some furry animal living in the neighborhood.",
            "center": "right"
        }];
        */
        chart.dataSource.url = `/superadmin/emotion/timeline/data/?candidate_id={{ candidate_id }}&exam_id={{exam_id}}`;


        // Create axes
        var yAxis = chart.yAxes.push(new am4charts.CategoryAxis());
        yAxis.dataFields.category = "y";
        yAxis.renderer.grid.template.disabled = true;
        yAxis.renderer.labels.template.disabled = true;
        yAxis.tooltip.disabled = true;

        var xAxis = chart.xAxes.push(new am4charts.ValueAxis());
        xAxis.min = 0;
        xAxis.max = 1.99;
        xAxis.renderer.grid.template.disabled = true;
        xAxis.renderer.labels.template.disabled = true;
        xAxis.renderer.baseGrid.disabled = true;
        xAxis.tooltip.disabled = true;

        // Create series
        var series = chart.series.push(new am4charts.LineSeries());
        series.dataFields.categoryY = "y";
        series.dataFields.valueX = "x";
        series.strokeWidth = 4;
        series.sequencedInterpolation = true;

        var bullet = series.bullets.push(new am4charts.CircleBullet());
        bullet.setStateOnChildren = true;
        bullet.states.create("hover");
        bullet.circle.radius = 10;
        bullet.circle.states.create("hover").properties.radius = 15;

        var labelBullet = series.bullets.push(new am4charts.LabelBullet());
        labelBullet.setStateOnChildren = true;
        labelBullet.states.create("hover").properties.scale = 1.2;
        labelBullet.label.text = "{text}";
        labelBullet.label.maxWidth = 200;
        labelBullet.label.wrap = true;
        labelBullet.label.truncate = false;
        labelBullet.label.textAlign = "middle";
        labelBullet.label.paddingLeft = 20;
        labelBullet.label.paddingRight = 20;
        labelBullet.label.fill = am4core.color("#999");
        labelBullet.label.states.create("hover").properties.fill = am4core.color("#000");

        labelBullet.label.verticalCenter = "middle";
        labelBullet.label.propertyFields.horizontalCenter = "center";


        chart.cursor = new am4charts.XYCursor();
        chart.cursor.lineX.disabled = true;
        chart.cursor.lineY.disabled = true;

        // Add scrollbar
        chart.scrollbarY = new am4charts.XYChartScrollbar();
        chart.scrollbarY.background.fill = am4core.color("#017acd");
        chart.scrollbarY.thumb.background.fill = am4core.color("#017acd");
        chart.scrollbarY.startGrip.background.fill = am4core.color("#017acd");
        chart.scrollbarY.endGrip.background.fill = am4core.color("#017acd");
        chart.scrollbarY.stroke = am4core.color("#017acd");

    });
</script>


<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
            
        var options = {
            chart: {
                type: 'column',
                renderTo: 'chart_answer_correctness', //  div id
                style: {
                    fontFamily: 'Helvetica',
                    fontSize: '15px'
                }
            },
            credits: {
                enabled: false
            },
            title: null,
            subtitle: null,
            xAxis: {
                /*
                categories: [
                    'happy',
                    'sad',
                    'angry'
                ],
                */
                categories: [],
                crosshair: true,
                labels: {
                    style: {
                        fontSize: '1.02em',
                    }
                },
            },
            yAxis: {
                min: 0,
                allowDecimals: false,
                title: {
                    text: 'count'
                },
                labels: {
                    style: {
                        fontSize: '1.02em',
                    }
                },
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            /*
            series: [{
                name: 'Correct',
                data: [4, 2, 2],
                color: '#43a047'

            }, 
            {
                name: 'Wrong',
                data: [2, 3, 1],
                color: '#dc1818cc'
            }],
            */
            series: [],
        };

        // var url =  " url 'superadmin:drill-down-demo' %}?student_id={{student_id}}";
    
        var url = `/superadmin/emotion/answer/correctness/?candidate_id={{ candidate_id }}&exam_id={{exam_id}}`;

        $.getJSON(url,  function(data) {
            console.log(data);
            // debugger
            options.series = data.emotions_overtime;
            options.xAxis.categories = data.emotions_list

            console.log(options)
            var chart = new Highcharts.Chart(options);
        });
    
    });
</script>


<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {

        var options = {
            chart: {
                type: 'column',
                renderTo: 'chart_answer_solving_speed',
                style: {
                    fontFamily: 'Helvetica',
                    fontSize: '15px'
                }
            },
            title: null,
            subtitle: null,
            accessibility: {
                announceNewData: {
                    enabled: true
                }
            },
            credits: {
                enabled: false
            },
            xAxis: {
                type: 'category',
                labels: {
                    style: {
                        fontSize: '1.02em',
                    }
                },
            },
            yAxis: {
                title: {
                    text: 'time (seconds)'
                },
                labels: {
                    style: {
                        fontSize: '1.02em',
                    }
                },
            },
            legend: {
                enabled: false
            },
            plotOptions: {
                series: {
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true,
                        format: '{point.y}'
                    }
                }
            },

            tooltip: {
                headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y} seconds</b><br/>'
            },

            series: [
                {
                    name: "Solving speed",
                    colorByPoint: true,
                    /*
                    data: [
                        {
                            name: "happy",
                            y: 3.4,
                        },
                        {
                            name: "angry",
                            y: 10.57,
                        },
                        {
                            name: "sad",
                            y: 7.23,
                        }
                    ]
                    */
                    data: []
                }
            ],
        };

        var url = `/superadmin/emotion/answer/speed/?candidate_id={{ candidate_id }}&exam_id={{exam_id}}`;
    
        $.getJSON(url,  function(data) {
            console.log(data);
            options.series[0].data = data;  // set as first element
            console.log(options)
            var chart = new Highcharts.Chart(options);
        });
    });
</script>


<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {

        var options = {
            chart: {
                type: 'column',
                renderTo: 'chart_question_overwriting', // div id
                style: {
                    fontFamily: 'Helvetica',
                    fontSize: '15px'
                }
            },
            credits: {
                enabled: false
            },
            title: null,
            subtitle: null,
            accessibility: {
                announceNewData: {
                    enabled: true
                }
            },
            xAxis: {
                type: 'category',
                labels: {
                    style: {
                        fontSize: '1.02em',
                    }
                },
            },
            yAxis: {
                title: {
                    text: 'count'
                },
                allowDecimals: false,
                labels: {
                    style: {
                        fontSize: '1.02em',
                    }
                },
            },
            legend: {
                enabled: false
            },
            plotOptions: {
                series: {
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true,
                        format: '{point.y}'
                    }
                }
            },

            tooltip: {
                headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y} seconds</b><br/>'
            },

            series: [
                {
                    name: "Overwrited questions",
                    colorByPoint: true,
                    /*
                    data: [
                        {
                            name: "angry",
                            y: 8,
                            color: "rgba(244, 67, 54, 0.87)",
                        },
                        {
                            name: "disgust",
                            y: 10,
                            color: "rgba(230, 127, 220, 0.85)",
                        },
                        {
                            name: "fear",
                            y: 5,
                            color: "rgb(67, 67, 72)",
                        },
                        {
                            name: "happy",
                            y: 7,
                            color: "rgba(49, 183, 54, 0.72)",
                        },
                        {
                            name: "sad",
                            y: 1,
                            color: "rgb(247, 163, 92)",
                        },
                        {
                            name: "surprise",
                            y: 2,
                            color: "rgb(241, 92, 128)",
                        },
                        {
                            name: "neutral",
                            y: 15,
                            color: "rgb(124, 181, 236)",
                        },
                    ]
                    */
                    data: [],
                }
            ],
        };

        var url = `/superadmin/emotion/answer/overwriting/?candidate_id={{ candidate_id }}&exam_id={{exam_id}}`;

        $.getJSON(url,  function(data) {
            console.log(data);

            options.series[0].data = data;  // set as first element
            console.log(options)
            var chart = new Highcharts.Chart(options);
        });
    });
</script>


<script type="text/javascript">
    /*
    document.addEventListener("DOMContentLoaded", function() {

        var options = {
            chart: {
                type: 'column',
                renderTo: 'chart_question_shifting', // div id
                style: {
                    fontFamily: 'Helvetica',
                    fontSize: '15px'
                }
            },
            title: null,
            subtitle: null,
            accessibility: {
                announceNewData: {
                    enabled: true
                }
            },
            xAxis: {
                type: 'category',
                labels: {
                    style: {
                        fontSize: '1.02em',
                    }
                },
            },
            yAxis: {
                title: {
                    text: 'count'
                },
                allowDecimals: false,
                labels: {
                    style: {
                        fontSize: '1.02em',
                    }
                },
            },
            legend: {
                enabled: false
            },
            plotOptions: {
                series: {
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true,
                        format: '{point.y}'
                    }
                }
            },

            tooltip: {
                headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y} seconds</b><br/>'
            },

            series: [
                {
                    name: "Shifted questions",
                    colorByPoint: true,
                    data: [
                        {
                            name: "angry",
                            y: 8,
                            color: "rgba(244, 67, 54, 0.87)",
                        },
                        {
                            name: "disgust",
                            y: 10,
                            color: "rgba(230, 127, 220, 0.85)",
                        },
                        {
                            name: "fear",
                            y: 5,
                            color: "rgb(67, 67, 72)",
                        },
                        {
                            name: "happy",
                            y: 7,
                            color: "rgba(49, 183, 54, 0.72)",
                        },
                        {
                            name: "sad",
                            y: 1,
                            color: "rgb(247, 163, 92)",
                        },
                        {
                            name: "surprise",
                            y: 2,
                            color: "rgb(241, 92, 128)",
                        },
                        {
                            name: "neutral",
                            y: 15,
                            color: "rgb(124, 181, 236)",
                        },
                    ]
                }
            ],
        };

        var url = `/superadmin/emotion/analysis/data/?candidate_id={{ candidate_id }}&exam_id={{exam_id}}`;

        $.getJSON(url,  function(data) {
            console.log(data);
            // options.series[0].data = data;  // set as first element
            console.log(options)
            var chart = new Highcharts.Chart(options);
        });
    });
    */
</script>


<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        
        var options = {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie',
                renderTo: 'chart_suspicious_activity', //  div id
            },
            credits: {
                enabled: false
            },
            title: null,
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                    pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                    }
                }
            },
            series: [{
                name: 'Percentage',
                colorByPoint: true,
                data: [{}]
            }],
        }

        var url = `/superadmin/overall/suspicious/activity/?candidate_id={{ candidate_id }}&exam_id={{exam_id}}`;

        $.getJSON(url,  function(data) {
            console.log(data);
            options.series[0].data = data;  // set as first element
            console.log(options)
            var chart = new Highcharts.Chart(options);
        });
    
    });
</script>

{% endblock %}
<!--       page level scripts    -->
<!-- /=========================== -->
