 {% load staticfiles %}

<!-- Main sidebar -->
<div class="sidebar sidebar-main">
<div class="sidebar-content">

    <!-- User menu -->
    <div class="sidebar-user-material">
        <div class="category-content">
            <div class="sidebar-user-material-content">
                <a href="#"><img src="{% static 'assets/images/user/User-dummy-300x300.png' %}" class="img-circle img-responsive" alt=""></a>
                <h6>
                {% if user.first_name and user.last_name %}
                     {{ user.first_name }} {{user.last_name}}
                {% else %}
                     {{ user.email }}
                {% endif %}
                </h6>
                <span class="text-size-small">&nbsp;</span>
            </div>
                                        
            <div class="sidebar-user-material-menu">
                <a href="#user-nav" data-toggle="collapse"><span>My account</span> <i class="caret"></i></a>
            </div>
        </div>
        
        <div class="navigation-wrapper collapse" id="user-nav">
            <ul class="navigation">
                <li><a href="#"><i class="icon-user-plus"></i> <span>My profile</span></a></li>
                <li class="divider"></li>
                <li><a href="#"><i class="icon-cog5"></i> <span>Account settings</span></a></li>
                <li><a href="/accounts/logout/"><i class="icon-switch2"></i> <span>Logout</span></a></li>
            </ul>
        </div>
    </div>
    <!-- /user menu -->


    <!-- Main navigation -->
    <div class="sidebar-category sidebar-category-visible">
        <div class="category-content no-padding">
            <ul class="navigation navigation-main navigation-accordion">

                <!-- Main -->
                <li class="mt-10" id="dashboard">
                    <a href="{% url 'users:handle_login' %}"><i class="icon-home"></i> <span>Dashboard</span></a>
                </li>
 
                <!--
                <li id="training">
                    <a href="#"><i class="icon-chip"></i> <span>Training</span></a>
                    <ul>
                        <li id="training_capture_photo">
                            <a href=">
                                Capture Photo
                            </a>
                        </li>
                        <li id="model_training">
                            <a href="">Train Model</a>
                        </li>
                        <li id="training_recognize_photo">
                            <a href="">Live Test</a>
                        </li>
                    </ul>
                </li>
                -->
  

                <li id="exam">
                    <a href="{% url 'candidate:exam_list' %}">
                        <i class="icon-clippy"></i>
                        <span>Exam</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <!-- /main navigation -->

</div>
</div>
<!-- /main sidebar -->


