
{% load staticfiles %}

<!-- Core JS files -->
<script type="text/javascript" src="{% static 'assets/js/plugins/loaders/pace.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/core/libraries/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/core/libraries/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/loaders/blockui.min.js' %}"></script>
<!-- /core JS files -->


<!-- Theme JS files -->
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/select2.min.js' %}"></script>

<!-- /theme JS files -->
<script type="text/javascript" src="{% static 'assets/js/pages/extension_blockui.js' %}"></script>

<!-- notification -->
<script type="text/javascript" src="{% static 'assets/js/plugins/notifications/pnotify.min.js' %}"></script>


