flask
flask-restful
requests

scikit-learn==0.22.2.post1

# tensorflow==1.15.0
# emotion detection lib
dlib==19.20.*  # 19.20.0  -- for loading deepface dlib wrapper
deepface

Pillow==6.2.1
opencv-python==4.2.0.*

pandas

# downloading files from drive
gdown
